* {box-sizing: border-box;}

.header {
    overflow: hidden;
    background-color: #0f0f0f;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 100px;
    position: relative;
  }
  .logo{
    margin-left: 200px;
  }

  .header-right {
    float: right;
    margin-right: 200px
  }

  .search-container{
    display: inline-block;
    margin-top: 50px;
    margin-left: 450px;

  }

  .search-container button {
    float: center;
    padding: 6px 10px;
    margin-top: -1px;
    background: orange;
    color: white;
    font-size: 15px;
    border: none;
    position: relative;
    display: inline-block;
  }
  
  .buttons{
    float: right;
    display: inline-block;
    margin-top: 50px;
    margin-right: 200px;
  }
  .buttons #login{
    background-color: orange;
    color: white;
    border-radius: 10px;
  }
  .buttons #register{
    background-color: orange;
    color: white;
    border-radius: 10px;
  }